[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/sky-oapp-oft"]
	path = lib/sky-oapp-oft
	url = git@github.com:sky-ecosystem/sky-oapp-oft
	branch = sky-oft-v2
[submodule "lib/lz-governance-relay"]
	path = lib/lz-governance-relay
	url = https://github.com/sky-ecosystem/lz-governance-relay
	branch = relay-timelock
[submodule "lib/lz-init-lib"]
	path = lib/lz-init-lib
	url = git@github.com:sky-ecosystem/lz-init-lib
	branch = avax-mig
[submodule "lib/xchain-ssr-oracle"]
	path = lib/xchain-ssr-oracle
	url = git@github.com:sky-ecosystem/xchain-ssr-oracle
